{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,600;1,300&display=swap" rel="stylesheet">
    <meta name="viewport" content="width-device-width, initial-scale=1">
    <title>Portfolio</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>

<!-- Header -->
    <header class="header">
        <div class="container">
            <div class="header__inner">

                <div class="user">
                    <div class="user__avatar">
                        <img src="{% static 'main/images/mini_avatar.jpg' %}" alt="">

                    </div>

                    <div class="user__content">
                        <div class="user__name">
                            Виктор<br>Турбин
                        </div>
                        <div class="user__prof">
                            Студент&amp;программист
                        </div>
                    </div>
                </div>

                <nav class="nav">
                    <a class="nav__link" href="#">По работе</a>
                    <a class="nav__link" href="#">Обо мне</a>
                    <a class="nav__link" href="#">блог</a>
                    <a class="nav__link" href="#">Связь со мной</a>
                    <a class="nav__link nav__link--btn" href="#" data-modal="#modal_hire_me">Нанять меня</a>
                </nav>

            </div>
        </div>
    </header>

    <!-- Intro -->
    <section class="intro">
        <div class="container">
            <div class="intro__inner">
                <div class="intro__content">
                    <h2 class="intro__subtitle">Привет, моё имя</h2>
                    <h1 class="intro__title">Виктор Турбин</h1>
                    <div class="intro__text">Студент&amp;программист</div>

                    <div class="social">
                        <a href="#" class="social_link"><img src="{% static 'main/images/vk.svg' %}" alt=""></a>
                        <a href="#" class="social_link"><img src="{% static 'main/images/instagram.svg' %}" alt=""></a>
                        <a href="#" class="social_link"><img src="{% static 'main/images/linkedin.svg' %}" alt=""></a>
                        <a href="#" class="social_link"><img src="{% static 'main/images/telegram.svg' %}" alt=""></a>
                    </div>

                    <a class="btn" href="#" data-modal="#modal_hire_me">Нанять меня</a>
                    <button class="btn" type="button" data-modal="#modal_resume">Моё резюме</button>
                </div>

                <img class="intro__photo" src="{% static 'main/images/my_face.png' %}" alt="">

            </div> <!-- /.intro__inner -->

        </div> <!-- /.container -->
    </section>

    <!-- Works -->
    <div class="works">
        <div class="container">

            <div class="works__nav">
                <a href="#" class="works__nav__link" data-filter="all">All</a>
                <a href="#" class="works__nav__link" data-filter="app">App</a>
                <a href="#" class="works__nav__link" data-filter="website">Website</a>
                <a href="#" class="works__nav__link" data-filter="interaction">Interaction</a>
            </div>

            <div class="portfolio" id="portfolio">

                <div class="portfolio__col" data-cat="app">

                    <div class="portfolio__item" data-modal="#modal_project_1">
                        <img class="portfolio__image" src="{% static 'main/images/mylang2.png' %}" alt="">
                        <div class="portfolio__item-content">

                            <div class="portfolio__cat">Hard Programming</div>
                            <div class="portfolio__title">
                                Мой язык программирования
                                <time datetime="2022-02-10 23:00" class="portfolio__date">2022</time>
                            </div>

                        </div> <!-- portfolio__content -->
                    </div> <!-- portfolio__item -->
                </div>

                <div class="portfolio__col" data-cat="app">

                    <div class="portfolio__item" data-modal="#modal_project_1">
                        <img class="portfolio__image" src="{% static 'main/images/tg_weather.png' %}" alt="">
                        <div class="portfolio__item-content">

                            <div class="portfolio__cat">Python</div>
                            <div class="portfolio__title">
                                Телеграмм бот
                                <time datetime="2022-02-10 23:00" class="portfolio__date">2022</time>
                            </div>

                        </div> <!-- portfolio__content -->
                    </div> <!-- portfolio__item -->
                </div>

                <div class="portfolio__col" data-cat="app">

                    <div class="portfolio__item" data-modal="#modal_project_1">
                        <img class="portfolio__image"
                             src="{% static 'main/images/calc.png' %}" alt="">
                        <div class="portfolio__item-content">

                            <div class="portfolio__cat">Python</div>
                            <div class="portfolio__title">
                                Калькулятор на QT
                                <time datetime="2021-08-15 20:00"
                                      class="portfolio__date">2021</time>
                            </div>

                        </div> <!-- portfolio__content -->
                    </div> <!-- portfolio__item -->
                </div>

                <div class="portfolio__col" data-cat="website">

                    <div class="portfolio__item" data-modal="#modal_project_1">
                        <img class="portfolio__image" src="{% static 'main/images/parser.png' %}" alt="">
                        <div class="portfolio__item-content">

                            <div class="portfolio__cat">Python</div>
                            <div class="portfolio__title">
                                Парсер сайтов
                                <time datetime="2022-02-10 23:00" class="portfolio__date">2021</time>
                            </div>

                        </div> <!-- portfolio__content -->
                    </div> <!-- portfolio__item -->
                </div>

                <div class="portfolio__col" data-cat="app">

                    <div class="portfolio__item" data-modal="#modal_project_1">
                        <img class="portfolio__image" src="{% static 'main/images/trigger.png' %}" alt="">
                        <div class="portfolio__item-content">

                            <div class="portfolio__cat">Hard Programming</div>
                            <div class="portfolio__title">
                                Trigger Bot
                                <time datetime="2022-02-10 23:00" class="portfolio__date">2021</time>
                            </div>

                        </div> <!-- portfolio__content -->
                    </div> <!-- portfolio__item -->
                </div>

                <div class="portfolio__col" data-cat="app">

                    <div class="portfolio__item" data-modal="#modal_project_1">
                        <img class="portfolio__image" src="{% static 'main/images/tread.png' %}" alt="">
                        <div class="portfolio__item-content">

                            <div class="portfolio__cat">Hard Programming</div>
                            <div class="portfolio__title">
                                Работа с потоками
                                <time datetime="2022-02-10 23:00" class="portfolio__date">2021</time>
                            </div>

                        </div> <!-- portfolio__content -->
                    </div> <!-- portfolio__item -->
                </div>

            </div> <!-- portfolio -->
            <div class="text-center">
                <a class="btn  btn--sm" href="#">ЗАЗГРУЗИТЬ БОЛЬШЕ</a>
            </div>

        </div> <!-- container -->
    </div>

    <!-- About -->
    <section class="about">
        <div class="container">

            <div class="about__inner">

                <div class="about__photo">
                    <!--<img src="images/4var.png" alt="">-->
                </div>

                <div class="about__content">
                    <h3 class="about__title">ОБО МНЕ</h3>
                    <h2 class="about__bigtitle">КТО ЖЕ Я</h2>
                    <div class="about__text">
                        <p>Как вы уже поняли меня зовут Виктор, и я программист. Карьера программиста заинтересовала меня ещё в школе, где с 9 класса я начал принимать активное участие во всяческого рода олимпиадах по программированию и информатике в целом.</p>

                        <p>Начинал я свой путь с такого языка, как c++, после чего решил пересесть на Python, как наиболее удобный и перспективный язык. В это же время я поступил в московский вуз МАДИ на направление Прикладная Математика. На данный момент я не теряю ни секунды, и каждый день пытаюсь узнать для себя что-то новое.</p>

                        <p>Я очень общительный и эрудированный человек, в связи с чем люди нередко отзываются обо мне в положительном ключе. Для меня нет преград ни в одной из сфер IT, потому что в каждой из них я нахожу для себя кучу интересных инструментов, которые помогают мне реализовать все мои идеи.</p>
                    </div>
                    <a class="btn" href="#" data-modal="#modal_hire_me">Нанять меня</a>
                    <button class="btn" type="button" data-modal="#modal_resume">Моё резюме</button>
                </div>

            </div>
        </div>
    </section>

    <!-- Reviews -->
    <!--<div class="reviews">
        <div class="container">

            <div class="reviews__item">
                <div class="reviews__text">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas pellentesque eu enim eget luctus. Sed augue felis, facilisis et elementum vitae, aliquam sit amet ante. Sed iaculis eros sem, elementum consequat est consequat eu.</p> <p>Quisque aliquet a ipsum nec tincidunt. Nulla vitae rhoncus leo. Praesent dui sapien, bibendum quis tempus dictum.</p>
                </div>

                <div class="reviews__author">
                    <img class="reviews__photo" src="https://place-hold.it/103x103/333" alt="">
                    <div class="reviews__name">Edward M. Brooks</div>
                    <div class="reviews__company">Marketing House</div>
                    <div class="reviews__rating">
                        <img class="reviews__star" src="{% static 'main/images/star.svg' %}" width="13" height="13" alt="">
                        <img class="reviews__star" src="{% static 'main/images/star.svg' %}" width="13" height="13" alt="">
                        <img class="reviews__star" src="{% static 'main/images/star.svg' %}" width="13" height="13" alt="">
                        <img class="reviews__star" src="{% static 'main/images/star.svg' %}" width="13" height="13" alt="">
                        <img class="reviews__star  reviews__star--unactive" src="{% static 'main/images/half-star.svg' %}" width="13" height="13" alt="">
                    </div>
                </div>
            </div>

        </div>
    </div>-->

    <!-- News -->
    <!--<section class="news">
        <div class="container">

            <div class="news__header">
                <h3 class="news__title">Прочти меня</h3>
                <div class="news__text">Иногда я пишу что-то умное</div>
            </div>

            <div class="articles">

                <div class="articles__col">

                    <div class="articles__item">

                        <div class="articles__header">
                            <time class="articles__date">10<br>june</time>
                            <a href="#">
                                <img class="articles__photo" src="https://place-hold.it/370x257" alt="">
                            </a>
                        </div>

                        <div class="articles__content">

                            <a href="#">
                                <h4 class="articles__title">TEN THE BEST APP IN 2017</h4>
                            </a>
                            <div class="articles__cat">CATEGORY </div>
                            <div class="articles__text">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas pellentesque eu enim eget luctus. Sed augue felis, facilisis et elementum vitae, aliquam sit amet ante. Sed iaculis eros sem, elementum consequat.</p>
                            </div>

                        </div>

                        <a class="btn btn--sm">READ MORE</a>

                    </div>

                </div>

                <div class="articles__col">

                    <div class="articles__item">

                        <div class="articles__header">
                            <time class="articles__date">10<br>june</time>
                            <a href="#">
                                <img class="articles__photo" src="https://place-hold.it/370x257" alt="">
                            </a>
                        </div>

                        <div class="articles__content">

                            <a href="#">
                                <h4 class="articles__title">TEN THE BEST APP IN 2017</h4>
                            </a>
                            <div class="articles__cat">CATEGORY </div>
                            <div class="articles__text">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas pellentesque eu enim eget luctus. Sed augue felis, facilisis et elementum vitae, aliquam sit amet ante. Sed iaculis eros sem, elementum consequat.</p>
                            </div>

                        </div>

                        <a class="btn btn--sm">READ MORE</a>

                    </div>

                </div>

                <div class="articles__col">

                    <div class="articles__item">

                        <div class="articles__header">
                            <time class="articles__date">10<br>june</time>
                            <a href="#">
                                <img class="articles__photo" src="https://place-hold.it/370x257" alt="">
                            </a>
                        </div>

                        <div class="articles__content">

                            <a href="#">
                                <h4 class="articles__title">TEN THE BEST APP IN 2017</h4>
                            </a>
                            <div class="articles__cat">CATEGORY </div>
                            <div class="articles__text">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas pellentesque eu enim eget luctus. Sed augue felis, facilisis et elementum vitae, aliquam sit amet ante. Sed iaculis eros sem, elementum consequat.</p>
                            </div>

                        </div>

                        <a class="btn btn--sm">READ MORE</a>

                    </div>

                </div>

            </div>

            <div class="news__footer">
                <a class="news__link" href="#">See more posts</a>
            </div>

        </div>
    </section>-->

    <!-- Footer -->
    <footer class="footer">
        <div class="container">

            <div class="footer__inner">

                <div class="footer__credits">

                    <div class="footer__copyright">
                        &copy; 2022
                    </div>

                    <div class="footer__social">
                        <a href="#" target="_blank">
                            <img src="{% static 'main/images/linkedin_white.svg' %}" alt="" width="22">
                        </a>
                        <a href="#" target="_blank">
                            <img src="{% static 'main/images/instagram_white.svg' %}" alt="" width="18">
                        </a>
                        <a href="#" target="_blank">
                            <img src="{% static 'main/images/telegram_white.svg' %}" alt="" width="23">
                        </a>
                        <a href="#" target="_blank">
                            <img src="{% static 'main/images/vk_white.svg' %}" alt="" width="18">
                        </a>
                    </div>

                </div>

                <nav class="footer__nav">
                    <a class="footer__nav__link" href="#">Work</a>
                    <a class="footer__nav__link" href="#">About Me</a>
                    <a class="footer__nav__link" href="#">Blog</a>
                    <a class="footer__nav__link" href="#">Contact</a>
                    <a class="footer__nav__link footer__nav__link--btn" href="#" data-modal="#modal_hire_me">HIRE ME</a>
                </nav>

            </div>

        </div>
    </footer>

    <!-- Modals -->
    <div class="modal" id="modal_project_1" >
        <div class="modal__dialog">

            <button class="modal__close" type="button" data-close>
                <img src="{% static 'main/images/cross.svg' %}" alt="Close">
            </button>

                <div class="modal-work">

                    <div class="modal-work__previews">
                        <div data-slider="slick">
                            <div class="">
                                <img class="modal-work__photo" src="https://place-hold.it/790x780" alt="">
                            </div>
                            <div class="">
                                <img class="modal-work__photo" src="https://place-hold.it/790x780/333" alt="">
                            </div>
                        </div>
                    </div>

                    <div class="modal-works__content">

                        <div class="modal-work__header">
                            <h3 class="modal-work__title">Project title.</h3>
                            <div class="modal-work__info">
                                category <span class="modal-work__info-divider">|</span> 2018
                            </div>
                        </div>

                        <div class="modal-works__client">
                            <div class="modal-works__client-title">Client:</div>
                            <div class="modal-works__client-company">Creative Agency</div>
                        </div>

                        <div class="modal-work__text">
                            <p>Как вы уже поняли меня зовут Виктор, и я программист. Карьера программиста заинтересовала меня ещё в школе, где с 9 класса я начал принимать активное участие во всяческого рода олимпиадах по программированию и информатике в целом.</p>

                            <p>Карьера программиста заинтересовала меня ещё в школе, где с 9 класса я начал принимать активное участие во всяческого рода олимпиадах по программированию и информатике в целом.</p>
                        </div>

                        <div class="modal-work__footer">
                            <button class="modal-work__btn modal-work__btn--prev slickPrev"><img src="{% static 'main/images/arrow.svg' %}" alt="" height="11">Previous</button>
                            <button class="modal-work__btn modal-work__btn--next slickNext">Next<img height="11" src="{% static 'main/images/arrow.svg' %}" alt=""></button>
                        </div>

                    </div>

                </div>
        </div>
    </div>

    <div class="modal" id="modal_resume" >
        <div class="modal__dialog">

            <button class="modal__close" type="button" data-close>
                <img src="{% static 'main/images/cross.svg' %}" alt="Close">
            </button>

            <div class="modal__content text-center">
                <h3 class="modal__title">РЕЗЮМЕ</h3>

                <div class="text-center">
                    <a href="#" class="btn btn--thin">DOWNLOAD PDF</a>
                    <a href="#" class="btn btn--thin">PRINT</a>
                </div>

                <div class="timeline">
                    <div class="timeline__col timeline__col--left text-right">

                        <h4 class="timeline__title">ОПЫТ</h4>

                        <div class="timeline__item">
                            <time class="timeline__date" datetime="11-10-2017">2017 - <b>Present</b></time>
                            <h5 class="timeline__subtitle">Freelancer</h5>
                            <div class="timeline__position">Art Director</div>
                            <div class="timeline__text">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam lobortis felis non tempor ullamcorper. Pellentesque cursus lectus a pulvinar dapibus. Nullam blandit aliquam ligula ut condimentum.</p>
                            </div>
                        </div>

                        <div class="timeline__item">
                            <time class="timeline__date" datetime="11-10-2017">2017 - <b>Present</b></time>
                            <h5 class="timeline__subtitle">Freelancer</h5>
                            <div class="timeline__position">Art Director</div>
                            <div class="timeline__text">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam lobortis felis non tempor ullamcorper. Pellentesque cursus lectus a pulvinar dapibus. Nullam blandit aliquam ligula ut condimentum.</p>
                            </div>
                        </div>

                        <div class="timeline__item">
                            <time class="timeline__date" datetime="11-10-2017">2017 - <b>Present</b></time>
                            <h5 class="timeline__subtitle">Freelancer</h5>
                            <div class="timeline__position">Art Director</div>
                            <div class="timeline__text">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam lobortis felis non tempor ullamcorper. Pellentesque cursus lectus a pulvinar dapibus. Nullam blandit aliquam ligula ut condimentum.</p>
                            </div>
                        </div>

                        <div class="timeline__item">
                            <time class="timeline__date" datetime="11-10-2017">2017 - <b>Present</b></time>
                            <h5 class="timeline__subtitle">Freelancer</h5>
                            <div class="timeline__position">Art Director</div>
                            <div class="timeline__text">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam lobortis felis non tempor ullamcorper. Pellentesque cursus lectus a pulvinar dapibus. Nullam blandit aliquam ligula ut condimentum.</p>
                            </div>
                        </div>

                    </div>

                    <div class="timeline__col timeline__col--right">
                        <h4 class="timeline__title">ОБРАЗОВАНИЕ</h4>

                        <div class="timeline__item">
                            <time class="timeline__date" datetime="11-10-2017">2005 - 2010</time>
                            <h5 class="timeline__subtitle">UI/UX Design</h5>
                            <div class="timeline__position">LA University, USA</div>

                        </div>

                        <div class="timeline__item">
                            <time class="timeline__date" datetime="11-10-2017">2005 - 2010</time>
                            <h5 class="timeline__subtitle">UI/UX Design</h5>
                            <div class="timeline__position">LA University, USA</div>

                        </div>

                        <h4 class="timeline__title">Навыки</h4>
                        <div class="progress-bar">

                            <div class="progress-bar__item">

                                <div class="progress-bar__left">
                                    <div class="progress-bar__title">Python</div>
                                </div>

                                <div class="progress-bar__right">
                                    <div class="progress-bar__bar">
                                        <div class="progress-bar__progress" style="width: 90%"></div>
                                    </div>
                                </div>

                            </div>

                            <div class="progress-bar__item">

                                <div class="progress-bar__left">
                                    <div class="progress-bar__title">UI/UX Design</div>
                                </div>

                                <div class="progress-bar__right">
                                    <div class="progress-bar__bar">
                                        <div class="progress-bar__progress" style="width: 35%"></div>
                                    </div>
                                </div>

                            </div>

                            <div class="progress-bar__item">

                                <div class="progress-bar__left">
                                    <div class="progress-bar__title">UI/UX Design</div>
                                </div>

                                <div class="progress-bar__right">
                                    <div class="progress-bar__bar">
                                        <div class="progress-bar__progress" style="width: 50%"></div>
                                    </div>
                                </div>

                            </div>

                            <div class="progress-bar__item">

                                <div class="progress-bar__left">
                                    <div class="progress-bar__title">UI/UX Design</div>
                                </div>

                                <div class="progress-bar__right">
                                    <div class="progress-bar__bar">
                                        <div class="progress-bar__progress" style="width: 30%"></div>
                                    </div>
                                </div>

                            </div>

                        </div>

                        <h4 class="timeline__title">Достижения</h4>


                        <div class="timeline__item">
                            <time class="timeline__date" datetime="11-10-2017">2017</time>
                            <h5 class="timeline__subtitle">Freelancer</h5>
                            <div class="timeline__position">Art Director</div>
                            <div class="timeline__text">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam lobortis felis non tempor ullamcorper. Pellentesque cursus lectus a pulvinar dapibus. Nullam blandit aliquam ligula ut condimentum.</p>
                            </div>
                        </div>

                        <div class="timeline__item">
                            <time class="timeline__date" datetime="11-10-2017">2017</time>
                            <h5 class="timeline__subtitle">Freelancer</h5>
                            <div class="timeline__position">Art Director</div>
                            <div class="timeline__text">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam lobortis felis non tempor ullamcorper. Pellentesque cursus lectus a pulvinar dapibus. Nullam blandit aliquam ligula ut condimentum.</p>
                            </div>
                        </div>


                    </div>

                </div>

                <div class="text-center">
                    <a class="btn" href="#">HIRE ME</a>
                </div>

            </div>


        </div>
    </div>

    <div class="modal" id="modal_hire_me" >
        <div class="modal__dialog modal__dialog--sm">

            <button class="modal__close" type="button" data-close>
                <img src="{% static 'main/images/cross.svg' %}" alt="Close">
            </button>

            <div class="contact">
                <div class="contact__left">
                    <h3 class="modal__title mb-0">LET'S TALK!</h3>
                    <h4 class="modal__subtitle">CALL ME OR SEND ME A REQUEST</h4>

                    <ul class="contact__info">
                        <li class="contact__info-item">
                            <img class="contact__info-icon" src="{% static 'main/images/phone.svg' %}" alt="" style="width: 13px">
                            (200) 100 3000
                        </li>
                        <li class="contact__info-item">
                            <img class="contact__info-icon" src="{% static 'main/images/mail.svg' %}" alt="" style="width: 13px">
                            designer@ui43.com
                        </li>
                    </ul>

                    <form class="form" action="/" method="post">
                        <div class="form__group">
                            <label for="input-email" class="form__label">Adress e-mail</label>
                            <input name="input-email" type="text" class="form__input" id="input-email" placeholder="Adress e-mail">
                        </div>
                        <div class="form__group">
                            <label for="input-text" class="form__label">Request</label>
                            <textarea name="" class="form__textarea" id="input-text" placeholder="Type your request..."></textarea>
                        </div>
                        <div class="text-right">
                            <button class="btn" type="submit">SEND</button>
                        </div>
                    </form>
                    
                </div>
                <div class="contact__right"></div>
            </div>

        </div>
    </div>

    <!-- JS -->
    <script src="{% static 'main/JS/vendor/slick.min.js' %}"></script>
    <script src="{% static 'main/JS/js.js' %}"></script>

</body>
</html>